body {
    background-color: #e1e1e1;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    display: flex;
    height: 200px;
    margin-bottom: 25px;
    align-content: space-between;
}

h1, h2 {
    color: #282828;
}

header a {
    align-self: flex-end;
    text-decoration: none;

}

header a:hover {
    text-decoration: underline;
    text-decoration-color: #282828;
}

header a:focus {
    text-decoration-color: #282828;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 0.1em;
}

button {
    cursor: pointer;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
   margin-bottom: 30px;
}

.go-back-link {
    display: inline-block;
    color: #4d4d4d;
    text-decoration: none;
    margin-bottom: 100px;
}

.go-back-link:hover {
    border-bottom: 1px solid #4d4d4d;
}

