* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 950px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* animations */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.transition__fade-in {
  animation-timing-function: ease-in;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.transition__fade-out {
  opacity: 0;
  animation-timing-function: ease-out;
  animation-name: fade-out;
  animation-duration: 0.5s;
}
